:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #F5F4F0;
    color: #333333;
    padding: 80px;
    width: 1120px;
    margin: auto;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: auto;
}

section {
    padding-top: 24px;
}

section img{
    margin-top: 24px;
}

#headline{
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

img {
    border-radius: 28px;
    width: 100%;
}

figcaption {
    font-style: italic;
    font-size: 16px;
    padding: 24px 0;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

li {
    margin: 0 40px;
}
#places-busan  ol  img{
    padding: 0px;
}

ul li::marker {
  color: #333333;
}

h1 {
    font-size: 36px;
    font-style: normal;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h1, h2, h3 {
    font-weight: bold;
}

#good-for {
    font-weight: bold;
    list-style-type: disc;
}

#accent-blue {
    color: #0C51A7;
}

#accent-orange {
    color: #E95E10;
}

#accent-pink {
    color: #E5245E;
}

#accent-purple {
    color: #591B98;
}

footer {
    padding-top: 40px
}

#conclusion-busan, footer, figcaption{
    text-align: center;
}
